@use "../utilities/mixins" as m;
@use "../utilities/variables" as v;
// @use "../theme";

.mdl-stack {
  z-index: 10;
  position: relative;
  margin-top: -100px;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0rem 2.5vw;

  .splide__track {
    max-width: 1080px;
    margin: 0 auto;
  }

  .splide__track,
  .splide__list {
    overflow: visible;
  }

  &__item {
    @include m.dis-flex(row, center, center);
    height: auto;
    width: 80px;
    aspect-ratio: 1/1;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 22px;

    @include m.small-device-down {
      margin: 0 14px;
    }

    img {
      height: 50%;
      width: 50%;
      object-fit: contain;
      object-position: center;
    }
  }
}
