//fonts
$montserrat: "Montserrat", sans-serif;
$clash-display: "Clash Display", sans-serif;

//cores
$color-one: #1fad90;
$color-two: #f89623;
$color-three: #e32026;
$color-four: #e0e0e0; // desc banner e menu header
$color-five: #3a3a3a; // txt

$color-black: #171717;
$color-white: #f6f6f6;
