@use "utilities/variables" as v;
@use "utilities/mixins" as m;
@use "theme";

html {
  font-size: 15px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.main {
  position: relative;
  z-index: 2;

  .splide__pagination {
    bottom: -3rem;
    &__page {
      height: 1rem;
      width: 1rem;
      background-color: v.$color-four;
      opacity: 0.4;

      &.is-active {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// Style for the scroll bar thumb (the draggable part)
::-webkit-scrollbar-thumb {
  background-color: v.$color-one; // Change this to your desired color
}

// Style for the scroll bar track (the non-draggable part)
::-webkit-scrollbar-track {
  background-color: v.$color-five; // Change this to your desired color
}

// Style for the scroll bar itself (optional)
::-webkit-scrollbar {
  width: 8px; // Adjust the width as needed
}

// You can also style the scroll bar for Firefox using the 'scrollbar' pseudo-elements
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: v.$color-one v.$color-four; // Change colors as needed
}

/* Optional: Style the scrollbar width and height for Firefox */
*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.btn-mn-mbl {
  @include m.medium-device-down {
    display: flex;
  }
}
