@use "utilities/variables" as v;
@use "utilities/mixins" as m;

%theme {
  &-ttl {
    font-family: v.$clash-display;
    font-size: 2.3rem;
    font-weight: 700;
    color: v.$color-black;
    text-transform: uppercase;

    span {
      color: v.$color-one;
    }

    &--banner {
      @extend %theme-ttl;
      color: v.$color-white;
      font-size: 3.3rem;
    }

    &--sp-white {
      @extend %theme-ttl;

      span {
        color: v.$color-white;
      }
    }
  }

  &-paragraph {
    font-family: v.$montserrat;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: v.$color-five;

    position: relative;
  }

  &-cta {
    @include m.dis-flex($align: center, $justify: center);
    padding: 1.3rem 1.5rem;
    border: solid 1px v.$color-two;
    border-radius: 69px;

    font-family: v.$clash-display;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: v.$color-two;

    transition: all ease 0.3s;

    &:hover {
      background-color: v.$color-two;
      color: v.$color-white;
      transition: all ease 0.3s;
    }

    &--green {
      @extend %theme-cta;

      border-color: v.$color-one;
      color: v.$color-one;

      &:hover {
        background-color: v.$color-one;
        color: v.$color-white;
        transition: all ease 0.3s;
      }
    }
  }
}
