// VARIAVEIS
$font-primary: "Roboto", sans-serif;
// MIXINS
@mixin dis-flex($direction: row, $justify: start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin objConfig($fit: cover, $position: center) {
  height: 100%;
  width: 100%;
  object-fit: $fit;
  object-position: $position;
}
// PADRÕES
html {
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

// PADRÕES A SEREM HERDADOS
%main {
  &-section {
    &__title {
      font-family: $font-primary;
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

//HOME
.header {
  &__nav {
    @include dis-flex($justify: space-between, $align: center);

    &__list {
      @include dis-flex($justify: end, $align: center);
      gap: 0.75rem;
    }
  }

  &__logo {
    height: 80px;
    width: 200px;

    img {
      @include objConfig;
    }
  }
}

.banner {
  position: relative;
  width: 100%;

  &__item {
    height: 100vh;
    width: 100vw;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
